# Ignore miscellaneous files
cscope.*
*.swp
*.patch
*~
.project
.cproject

# Ignore build directory
build/

# Ignore build products from tools
tools/**/*.o
tools/renesas/rcar_layout_create/*.bin
tools/renesas/rcar_layout_create/*.srec
tools/renesas/rcar_layout_create/*.map
tools/renesas/rcar_layout_create/*.elf
tools/renesas/rzg_layout_create/*.bin
tools/renesas/rzg_layout_create/*.srec
tools/renesas/rzg_layout_create/*.map
tools/renesas/rzg_layout_create/*.elf
tools/fiptool/fiptool
tools/fiptool/fiptool.exe
tools/cert_create/src/*.o
tools/cert_create/src/**/*.o
tools/cert_create/cert_create
tools/cert_create/cert_create.exe
tools/marvell/doimage/doimage
tools/amlogic/doimage
tools/stm32image/*.o
tools/stm32image/stm32image
tools/stm32image/stm32image.exe
tools/sptool/__pycache__/

# GNU GLOBAL files
GPATH
GRTAGS
GSYMS
GTAGS

# Ctags
tags

# Node.js
node_modules/

*.tmp
*.cmd
*.su
*.o
*.bin
u-boot.cfg*
*.lds
*.map
*.srec
*.sym
.config*
__pycache__
*.dtb
arch/
dts/
.binman_stamp
include/autoconf.mk*
include/config.h
include/config/
include/generated/
lib/asm-offsets.s
tools/boot/
tools/common/
tools/dumpimage
tools/fdtgrep
tools/fit_check_sign
tools/fit_info
tools/gen_eth_addr
tools/gen_ethaddr_crc
tools/img2srec
tools/lib/
tools/mkenvimage
tools/mkimage
tools/proftool
tools/relocate-rela
tools/spl_size_limit
scripts
u-boot
