if TARGET_PINENOTE_RK3566

config SYS_BOARD
	default "pinenote-rk3566"

config SYS_VENDOR
	default "pine64"

config SYS_CONFIG_NAME
	default "evb_rk3568"

config BOARD_SPECIFIC_OPTIONS
	def_bool y

endif
