#include <dt-bindings/reset/mt7629-reset.h>
#include "mt7986-u-boot.dtsi"

/ {
	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x80000000>;
	};
};

&eth {
	resets = <&ethsys ETHSYS_FE_RST>;
	reset-names = "fe";
	mediatek,sgmiisys = <&sgmiisys0>;
	/delete-property/ clocks;
	/delete-property/ assigned-clocks;
	/delete-property/ assigned-clock-parents;
};

&eth {
	pinctrl-names = "default";
	pinctrl-0 = <&mdio_pins>;

	mediatek,gmac-id = <0>;
	phy-mode = "2500base-x";
	//phy-handle = <&phy0>;
	phy-handle = <&phy14>;

	phy14: eth-phy@14 {
		compatible = "ethernet-phy-id03a2.a411";
		reg = <14>;
		pinctrl-names = "default";
		pinctrl-0 = <&en8811_pwr_a>;
		airoha,pnswap-rx;

		reset-gpios = <&pio 49 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <20000>;
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins_default>;
	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	cap-mmc-hw-reset;
	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	non-removable;
	status = "okay";
};

&pio {
	en8811_pwr_a: en8811-pwr-a {
		pins = "GPIO_11";
		drive-strength = <MTK_DRIVE_8mA>;
		bias-pull-down = <MTK_PUPD_SET_R1R0_11>;
		output-low;
	};

	en8811_pwr_b: en8811-pwr-b {
		pins = "GPIO_12";
		drive-strength = <MTK_DRIVE_8mA>;
		bias-pull-down = <MTK_PUPD_SET_R1R0_11>;
		output-low;
	};

	mdio_pins: mdio-pins {
		mux {
			function = "eth";
			groups = "mdc_mdio";
		};
	};
};

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi_flash_pins>;
	status = "okay";
	must_tx;
	enhance_timing;
	dma_ext;
	ipm_design;
	support_quad;
	tick_dly = <1>;
	sample_sel = <0>;

	spi_nand@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <52000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "bl2";
				reg = <0x0 0x80000>;
			};

			partition@100000 {
				label = "orig-env";
				reg = <0x100000 0x80000>;
			};

			partition@80000 {
				label = "factory";
				reg = <0x80000 0x300000>;
			};

			partition@380000 {
				label = "fip";
				reg = <0x380000 0x200000>;
			};

			partition@580000 {
				label = "ubi";
				reg = <0x580000 0x7a80000>;
			};
		};
	};

};

