#include <dt-bindings/clock/mt7988-clk.h>
#include <dt-bindings/reset/mt7988-reset.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/mt65xx.h>

/delete-node/ &eth;
/delete-node/ &switch;
/ {

	hwver: hwver {
		compatible = "mediatek,hwver", "syscon";
		reg = <0 0x8000000 0 0x1000>;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x10000000>;
	};

	eth: ethernet@15100000 {
		compatible = "mediatek,mt7988-eth", "syscon";
		reg = <0 0x15100000 0 0x20000>;
		mediatek,ethsys = <&ethsys>;
		mediatek,sgmiisys = <&sgmiisys0>;
		mediatek,usxgmiisys = <&usxgmiisys0>;
		mediatek,xfi_pextp = <&xfi_tphy0>;
		mediatek,xfi_pll = <&xfi_pll>;
		mediatek,infracfg = <&topmisc>;
		mediatek,toprgu = <&watchdog>;
		resets = <&ethsys ETHDMA_FE_RST>, <&ethwarp ETHWARP_GSW_RST>;
		reset-names = "fe", "mcm";
		#address-cells = <1>;
		#size-cells = <0>;
		mediatek,mcm;
		status = "disabled";
	};
};

&uart0 {
	status = "okay";
};

&pio {
	spi0_pins: spi0-pins {
		mux {
			function = "spi";
			groups = "spi0", "spi0_wp_hold";
		};
	};

	mmc1_pins_default: mmc1default {
		mux {
			function = "flash";
			groups =  "emmc_45";
		};

		conf-cmd-dat {
			pins = "SPI2_CSB", "SPI2_MISO", "SPI2_MOSI",
			       "SPI2_CLK", "SPI2_HOLD";
			input-enable;
			drive-strength = <MTK_DRIVE_4mA>;
		};

		conf-clk {
			pins = "SPI2_WP";
			drive-strength = <MTK_DRIVE_4mA>;
		};
	};
};

&cpu0 {
	mediatek,hwver = <&hwver>;
};

&xfi_tphy0 {
	compatible = "mediatek,mt7988-xfi_pextp_0", "syscon";
};

&xfi_pll {
	compatible = "mediatek,mt7988-xfi-pll", "syscon";
};

&ethsys {
	compatible = "mediatek,mt7988-ethdma", "syscon";
};

&ethwarp {
	compatible = "mediatek,mt7988-ethwarp", "syscon";
};

&usxgmiisys0 {
	compatible = "mediatek,mt7988-usxgmiisys_0", "syscon";
};

&watchdog {
	compatible = "mediatek,mt7622-wdt",
		     "mediatek,mt6589-wdt",
		     "syscon";
};

&topmisc {
	clock-parent = <&topckgen>;
};

&eth {
	status = "okay";
	mediatek,gmac-id = <0>;
	phy-mode = "usxgmii";
	mediatek,switch = "mt7988";

	fixed-link {
		speed = <1000>;
		full-duplex;
		pause;
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	must_tx;
	enhance_timing;
	dma_ext;
	ipm_design;
	support_quad;
	tick_dly = <2>;
	sample_sel = <0>;

	spi_nand@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <52000000>;
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins_default>;
	max-frequency = <52000000>;
	bus-width = <4>;
	cap-sd-highspeed;
	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_3p3v>;
	status = "okay";
};

&pcie2 {
	status = "disabled";
};

&pcie3 {
	status = "okay";
};

