if ARCH_MEDIATEK

config SYS_SOC
	default "mediatek"

config SYS_VENDOR
	default "mediatek"

choice
	prompt "MediaTek board select"

config TARGET_MT7623
	bool "MediaTek MT7623 SoC"
	select CPU_V7A
	select ARCH_MISC_INIT
	help
		Support MediaTek MT7623 SoC.

config TARGET_MT7629
	bool "MediaTek MT7629 SoC"
	select CPU_V7A
	select SPL
	select ARCH_MISC_INIT
	help
		Support MediaTek MT7629 SoC.

endchoice

source "board/mediatek/mt7623/Kconfig"
source "board/mediatek/mt7629/Kconfig"

endif
